<!DOCTYPE html>
<html>
  <head>
    <title>smuk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
<body id="top">

  <div class="total">
      ¥ <%= @events.sum(:sales).to_s(:delimited)%>
  </div>
    <%= month_calendar events: @events do |date, events| %>
      <%= date.day %>
      <% events.each do |event| %>
        <div>
          <p><%= event.sales.to_s(:delimited)%>円</p>
        </div>
      <% end %>
    <% end %>
</body>
</html>