<!DOCTYPE html>
<html>
  <head>
    <title>Smuk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="site-header">
      <div class="wrapper site-header__wrapper">
       <div class="logo">
        <%= link_to "s m u k", "/" %>
       </div>
        <%# <a href= class="brand">SMUK</a> %>
         <% if user_signed_in?%>
          <ul class="nav__wrapper">
            <li class="nav__item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </ul>
         <% else %>
          <ul class="nav__wrapper">
            <li class="nav__item">
              <%= link_to "ログイン", new_user_session_path %>
            <li class="nav__item">
              <%= link_to "新規登録", new_user_registration_path %>
          </ul>
        <%end%>
      </div>
    </header>
     <%= yield %> 
     <%# 上記の記述でbody要素内に各ビューファイルの記述が集約される %>
    <footer>
      <p>
      </p>
    </footer>
  </body>
</html>
